config BRASS_Driver
        tristate "Brass Tristate"
        depends on PCI
        help
            A Linux module that blinks an LED and uses a timer while taking input from
            a user program.

            Testing spacing